body {
    font-family: Verdana, sans-serif;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    color: white;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}

.hero-container {
display: flex;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.herotitle {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.herotext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-style: none;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-weight: bold;
}

button:active {

}

.placeholder {
    color: white;
    background-color: grey;
    width: auto;
    height: 200px;
    text-align: center;
}